.button{
    -fx-font-family:"Times New Roman";
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label{
       -fx-font-family:"Times New Roman";
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold; 
}

#titleLogin{
        -fx-font-size: 40px;
}
