<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="GPUPWebApp" />
          <element id="module-output" name="GpupLogicEngine" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="gson-2.1" />
          <element id="library" level="project" name="okHttp" />
          <element id="library" level="project" name="google-gson-2" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="GPUPWebApp/web/Web" />
    </root>
  </artifact>
</component>